<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark" th:id="nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Кофейная Бухта <i class="fa-solid fa-mug-hot"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product/new">Добавить кофе</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/"><i class="fa-regular fa-user"></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Регистрация</a></li>
                        <li><a class="dropdown-item" href="#">Авторизация</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fa-solid fa-magnifying-glass"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>