<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save</title>
</head>
<body>
        <form action="/save" method="post" th:if = "${product!=null}">
            <input type="hidden" name="id" th:value="${product.id}">
            Name : <input type="text" name="name" th:value="${product.name}">
            Description : <input type="text" name="description" th:value="${product.description}">
            <button>SUBMIT</button>
        </form>
        <form action="/save" method="post" th:if = "${product==null}">
            Name : <input type="text" name="name">
            Description : <input type="text" name="description">
            <button>SUBMIT</button>
        </form>
        <a th:href="@{/}">GO HOME</a>
</body>
</html>